.to-top-link {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
  background-image: url("../images/to-top-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
 