@media (max-width: $breakpoint-medium) {
  @import "./hamburger.scss";
}

@media (min-width: $breakpoint-small) {
  .big-section--padding {
    padding-top: $general-padding-l;
    padding-bottom: $general-padding-xl;
  }

  .header__title {
    font-size: 3.9rem;
  }

  .header__subtitle {
    font-size: 2rem;
  }

  .about__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section__title {
    font-size: 3rem;
  }

  .about__image-wrapper {
    flex: 1 1;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .about__article {
    flex: 1 1;
  }

  .about__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skills {
    flex-basis: 100%;
  }

  .skills__techniques,
  .skills__tools {
    flex-basis: 48%;
  }

  .future__stages-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .future__stages {
    flex-basis: 49%;
  }

  .projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .projects__item {
    flex: 1 0 30%;
    margin-left: 1rem; 

    &:nth-child(-n + 3) {
      margin-top: 0;
    }

    &:nth-child(3n + 1) {
      margin-left: 0;
    }
  }

}

@media (min-width: $breakpoint-medium) {
  #menu--toggle,
  .menu--toggle__trigger,
  .menu--toggle__burger,
  .menu--toggle__burger:before,
  .menu--toggle__burger:after {
    display: none;
  }

  .main-nav {
    animation: mainNavExpads 0.5s ease-in-out both;
  }

  .main-nav--scrolled {
    animation: mainNavShriks 0.5s ease-in-out both;
  }

  .main-nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo__img {
    height: 3.35rem;
  }

  .main-nav__item {
    display: inline-block;
    margin-left: 1.25rem;

    &:first-child {
      margin-left: 0;
    }
  }

  .main-nav__link {
    font-size: 1.3rem;
  }

  .header__title {
    font-size: 4rem;
  }

  .header__subtitle {
    font-size: 2rem;
  }

  .about__image-wrapper {
    flex: 1 1;
  }

  .about__article {
    flex: 2 1;
  }

  .future__stages {
    flex-basis: 30%;
  }
}


@keyframes mainNavShriks {
  0% {
    padding-top: $main-nav-padding-s;
    padding-bottom: $main-nav-padding-s;
  }

  100% {
    padding-top: $main-nav-padding-xs;
    padding-bottom: 0;
    background: $darkest-grey;
  }
}

@keyframes mainNavExpads {
  0% {
    padding-top: $main-nav-padding-xs;
    padding-bottom: 0;
    background: $darkest-grey;
  }

  100% {
    padding-top: $main-nav-padding-s;
    padding-bottom: $main-nav-padding-s;
  }
}
