@import "./normalize.scss";
@import "./fonts.scss";
@import "./colors.scss";
@import "./breakpoints.scss";
@import "./variables-mixins.scss";
@import "./icons.scss";
@import "./button.scss";

.container {
  width: 100%;
  min-width: $container-size-min;
  max-width: $container-size-max;
  margin: auto;
  padding-right: $general-padding-s;
  padding-left: $general-padding-s;
}

.big-section--padding {
  padding-top: $general-padding-m;
  padding-bottom: $general-padding-l;
}

.section__title {
  font: 500 2rem $roboto;
  text-align: center;
}

.section__subtitle {
  font: 1rem $roboto;
  text-align: center;
}

.title-line {
  position: relative;
  padding-bottom: 2.625rem;

  &::after {
    content: " ";
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 0.125rem;
    background-color: $brand-color-3;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 20;
  padding-top: $main-nav-padding-s;
}

.main-nav__logo {
  display: inline-block;
  font-size: 0;
}

.logo__link {
  display: block;
}

.logo__img {
  display: block;
  height: 3.125rem;
}

.main-nav__item {
  list-style-type: none;
}

.main-nav__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font: 2rem $openSans;
  transition: color 0.2s linear;

  &:hover {
    color: $brand-color-2;
  }
}

.social {
  padding: 0;
}

.social__item {
  display: inline-block;
}

.social__link {
  display: block;
}

.social__icon {
  transition: fill 0.2s linear;
  fill: $brand-color-2;

  &:hover {
    fill: $brand-color-2;
  }
}

.header__content {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header__title,
.header__subtitle {
  position: relative;
  top: -3rem;
  font-family: $roboto;
}

.header__title {
  margin-bottom: 0.5rem;
  font-size: 2.1rem;
}

.header__subtitle {
  font-weight: normal;
  font-size: 1.9rem;
}

.header__projects-btn {
  position: absolute;
  bottom: 3.125rem;
  left: 50%;
  transform: translateX(-50%);
}

.about__content {
  margin-bottom: 3.125rem;
}

.about__image-wrapper {
  margin-bottom: 1.25rem;
}

.about__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.about__description {
  font: 300 1.3rem $openSans;
  margin-bottom: 1.25rem;
}

.about__cv-button {
  max-width: 21rem;
  display: block;
  margin: auto;
}

.skills__title {
  font: 500 1.2rem $roboto;
  margin-bottom: 0.5rem;
}

.skills__list {
  margin-bottom: 1rem;
  padding: 0;
}

.skills__list--progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills__item {
  font-weight: 300;
  font-family: $openSans;
  font-size: 1.1rem;
  list-style-type: none;
  margin-bottom: 0.1rem;
}

.skills__item--progress {
  flex-basis: 48%;
  margin-bottom: 0.3rem;
}

.skills__item--other {
  display: inline-block;
  background-color: #ededed;
  padding: 5px 20px;
  margin: 3px;
  border-radius: 15px;
}

.skills__name {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

.skills__progress-bar {
  background: $mid-grey;
  border-radius: 0.3125rem;
  height: 0.3125rem;
  overflow: hidden;
  position: relative;
}

.skills__list--visible .skills__progres-bar--value {
  animation: startSkillsProgresBar 1.5s ease-in-out both;
}

.skills__progres-bar--value {
  position: absolute;
  left: 0;
  background: $brand-color-2;
  height: 0.3125rem;
  border-radius: 0.3125rem;

  &.html-bar-value {
    width: 90%;
  }

  &.bootstrap-bar-value {
    width: 50%;
  }

  &.css-bar-value {
    width: 90%;
  }

  &.sass-bar-value {
    width: 70%;
  }

  &.js-bar-value {
    width: 50%;
  }

  &.react-bar-value {
    width: 15%;
  }

  &.webpack-bar-value {
    width: 80%;
  }

  &.jest-bar-value {
    width: 15%;
  }

  &.git-bar-value {
    width: 70%;
  }
}

.future {
  background: $brand-color-1; //for old browsers
  background: linear-gradient(-45deg, $brand-color-1, $brand-color-2);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 8s ease infinite;

  // background: $brand-color-1;
  transform: skewY(-3deg);
  color: #ffffff;
}

.future__content {
  transform: skewY(3deg);
}

.future__stages-wrapper {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
}

.future__stages {
  // flex-basis: 50%;
  margin-bottom: 0.8rem;
}

.future__stages-title {
  font: 700 1rem $roboto;
  text-align: center;
  margin-bottom: 0.5rem;
}

.future__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.future__item {
  list-style-type: none;
  font: 1.2rem $openSans;
  margin: 0.2rem;
  padding: 0.3rem 0.6rem;
  border: 1px solid #ffffff;
  text-align: center;
  flex: 1 auto;
}

.projects__header {
  margin-bottom: 3rem;
}

.projects__list {
  padding-left: 0;
  margin-bottom: 3rem;
}

.projects__item {
  display: block;
  list-style-type: none;
  margin-top: 1.5rem;
  text-align: center;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }
}

.projects__link {
  display: block;
  text-decoration: none;
  position: relative;
  color: #000000;
  transition: color 0.2s linear; 

  &:hover {
    color: $brand-color-2;
  }

  &:hover .projects__img { 
    filter: brightness(100%); 
    -webkit-filter: brightness(100%);
  }
}

.projects__img {
  height: 9rem;
  margin-bottom: 0.5rem;
  filter: brightness(70%);
  transition: filter 0.2s linear; 

  &--portfolio {
    background: url(../images/projects-screenshots/portfolio.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.projects__name {
  font: 700 1.1rem $roboto;
}

.projects__description {
  font: 500 0.8rem $roboto;
  color: $dark-grey;
}

.projects__technologies {
  font: 500 0.8rem $roboto;
  color: $brand-color-3;
}

.projects__primery-btn {
  margin: auto;
  max-width: 14rem;
}

.footer {
  padding-top: 2rem;
  background: $darkest-grey;
}

.contacts__title {
  color: #ffffff;  
}

.contacts__list {
  padding-left: 0;
  list-style-type: none;
  text-align: center;

}

.contacts__item {
  color: #ffffff;
}

.footer__social {
  text-align: center;
}
// ===
// ===
// ===
// ===
// ===
// ===
// ===

@keyframes startSkillsProgresBar {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@import "./media.scss";
