@import "./normalize.scss";
@import "./fonts.scss";
@import "./colors.scss";
@import "./breakpoints.scss";
@import "./button.scss";
@import "./icons.scss";

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
  outline: 1px solid teal;
  padding: 0 16px;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
  outline: 1px solid teal;
  z-index: 20;
}

.main-nav__logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.logo__link {
  display: inline-block;
}

.logo__img {
  display: block;
  height: 50px;
}

.main-nav__item {
  list-style-type: none;
}

.main-nav__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font: 2rem $openSans;
}

.social {
  padding: 0;
}

.social__item {
  display: inline-block;
}

.social__link {
  display: block;
}

.header {
}

.header__content {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header__title {
  font-family: $openSans;
  font-weight: normal;
  margin-bottom: 8px;
}

.header__subtitle {
  font-family: $openSans;
  font-weight: normal;
}

.header__projects-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%); 
}

@import "./media.scss";
