@media (min-width: $breakpoint-small) {
  .header__title {
    font-size: 3.9rem;
  }

  .header__subtitle {
    font-size: 2rem;
  }
}

@media (min-width: $breakpoint-medium) {
  .header__title {
    font-size: 4rem;
  }

  .header__subtitle {
    font-size: 2rem;
  }
}
